body {
  padding: 75px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #115731;
}
/*
  this is for my poor css knowlegde
  so i can easily see where my stuff appears.
div {
  border: dotted;
}
*/

#Infofield {
  left: 30%;
}